$background-color: #e6e5a3;

$primary-color: #3c6255;
$secundary-color: #edf1d6;

$text-color: #61876e;
$border-color: #a6bb8d;

$submit-background: #edf1d6;
$submit-text-color: #40513b;

$button-img: url("~/src/images/dark_mode.svg");
