$background-color: #40513b;

$primary-color: #e6e5a3;
$secundary-color: #7d8f69;

$text-color: #edf1d6;
$border-color: #3c6255;

$submit-background: #609966;
$submit-text-color: #edf1d6;

$button-img: url("~/src/images/light_mode.svg");
